* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content:space-around;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: #a435f0;
    cursor: pointer;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 65%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 i {
    cursor: pointer;
}


.navbar__s2 input {
    border: none;
    font-size: 14px;
    width: 100%;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar__s3 p {
    cursor: pointer;
}

.navbar__s3 i {
    cursor: pointer;
}

.navbar__s4 {
    display: none;
}

.mylearning{
    position: relative;
}

.mylearning__popup{
    position: absolute;
    border: solid black 1px;
    background-color: white;
    width: 110px;
    right: 0px;
    top: 30px;
    padding: 10px;
    display: none;
    
}
 
.mylearning:hover .mylearning__popup{
    display: block;

}

.categories {
    display: flex;
    padding: 10px;
    border: solid black 1px;
    justify-content: space-around;
}

.categories p {
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: solid #a435f0 1px;
}

.categories p:hover {
    transition: 0.75s;
    background-color: transparent;
    color: black;
    border: solid #a435f0 1px;
}

.sale-image img {
    width: 100%;
}

.sale-image{
    position: relative;
    
}

.sale-image__offer{
    border: solid black 2px;
    background-color: white;
    width: 37.5%;
    padding: 2%;
    position:absolute;
    left:10%;
    top:15%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation-name: zoom;
    animation-duration: 2s;
}

@keyframes zoom {
    0%{
transform: scale(0);
opacity: 1;
    }
    100%{
transform: scale(1);
opacity: 1;
    } 
}

.recommended {
    padding: 10px;
}

.recommended_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    cursor: pointer;
}

.recommended__title {
    margin-top: 15px;
}

.recommended__subtitle {
    padding-top: 10px;
}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: solid gray 0.5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.course-card__content {
    padding: 10px;
}

.course-card img {
    width: 100%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin: 15px;
    flex-wrap: wrap;
    cursor: pointer;
}

.topics__container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 20%;
}

.popular {
    padding: 10px;
}

.popular_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    cursor: pointer;
}

.popular__title {
    margin-top: 15px;
}

.popular__subtitle {
    padding-top: 10px;
}

.popular-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: solid gray 0.5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.popular-card__content {
    padding: 10px;
}

.popular-card img {
    width: 100%;
}

.footer {
    background-color: black;
    color: white;
    padding: 40px;
}

.footer-one p {
    margin: 20px;
    cursor: pointer;
}

.footer-one {
    display: flex;
    gap: 10px;
}

.footer-two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.footer-two {
    cursor: default;
}

@media  screen and (max-width:500px) {

    body{
        font-size: 10px;
    }

    .course-card{
flex-basis: 40%;
    }

    .popular-card{
        flex-basis: 40%;
    }

    .categories{display: none;}

    .navbar__s3{
        display: none;
    }

    .navbar__s4{
        display: block;      
    }
    
}